body *{
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-weight: 900;
}

body {
    background-color: lightgray;
}

.page {
    width: 1800px;
    background-color: white;
    margin: auto;
    padding: 50px;
    padding-top: 35px;
}

.vis-container {
    width: 100%;
    height: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vis-container svg {
    max-width: 100%;
    height: auto;
}

.pure-u-1-2 {
    box-sizing: border-box;
    padding: 0 10px;
}

.description h2,
h1 {
    margin-top: 0px;
}

.description-right {
    padding-left: 20px;
}

.description-left {
    padding-right: 20px;
}

.pure-g {
    margin-bottom: 40px;
}

.small-font {
    font-size: 14px;
}